@import '@economist/component-typography';
@import '@economist/component-palette';
@import '@economist/component-grid';

.blog-post {
  font-size: 1rem;
}

.blog-post__rubric {
  font-style: italic;
  padding-left: var(--rubric-padding-left, var(--grid-spacing-mouse));
  padding-right: var(--rubric-padding-left, var(--grid-spacing-mouse));
}

.blog-post__title {
  font-size: var(--text-size-step-3);
  line-height: var(--text-line-height-body-bold-on-step-3);
  letter-spacing: var(--text-letter-spacing-body-bold-on-step-3);
  font-weight: bold;
  font-family: 'Halifax Bold';
  color: var(--blog-post-color-title, var(--color-beijing));
  margin: 0;
}

.blog-post__section {
  font-size: var(--text-size-step--2);
  line-height: var(--text-line-height-body-on-step--2);
  text-transform: uppercase;
  font-weight: lighter;
  font-family: 'Halifax Light';
  color: var(--blog-post-color-section, var(--color-economist));
  margin: 0;
  margin-bottom: var(--blog-post-section-bottom-margin, var(--grid-spacing-mouse));
}

.blog-post__flytitle {
  font-size: var(--text-size-step-0);
  line-height: var(--text-line-height-body-on-step-0);
  font-weight: lighter;
  font-family: 'Halifax Light';
  color: var(--blog-post-color-flytitle, var(--color-economist));
  margin: 0;
  margin-bottom: var(--blog-post-flytitle-bottom-margin, var(--grid-spacing-mouse));
}

.blog-post__text {
  font-size: var(--text-size-step-0);
  line-height: var(--text-line-height-body-light-on-step-0);
  font-weight: lighter;
  font-family: 'Halifax Light';
  color: var(--blog-post-color-text, var(--color-beijing));
  margin-top: var(--blog-post-text-top-margin, var(--grid-spacing-rabbit));
}

.blog-post__datetime {
  font-size: var(--text-size-step--2);
  line-height: var(--text-line-height-body-light-on-step--2);
  letter-spacing: var(--text-letter-spacing-body-light-on-step--2);
  font-weight: lighter;
  font-family: 'Halifax Light';
  color: var(--blog-post-color-datetime, var(--color-moscow));
  margin-top: var(--blog-post-datetime-top-margin, var(--grid-spacing-rabbit));
}

.blog-post__datetime::before {
  content: '';
  width: 3rem;
  height: 0.1rem;
  background-color: var(--blog-post-background-color-datetime, var(--color-berlin));
  display: block;
  margin-bottom: var(--blog-post-datetime-bottom-margin, var(--grid-spacing-hedgehog));
}

