@import '@economist/component-typography';
@import '@economist/component-palette';
@import '@economist/component-grid';

.blog-post {
  font-size: 1rem;
  font-family: var(--fontfamily-body);
  font-size: var(--text-size-step-0);
  line-height: var(--text-line-height-body-on-step-0);
}

.blog-post__image {
  margin: 0; padding: 0;  /* Resetting default browser styles */
  margin-top: var(--blog-post-image-spacing, var(--grid-spacing-rhino));
}

.blog-post__image-block {
  max-width: 100%;
  height: auto;
  border: medium none;
  display: block;  /* Because if it was inline it would have a line-height */
}

.blog-post__title {
  font-size: var(--text-size-step-7);
  line-height: var(--text-line-height-body-on-step-7);
  letter-spacing: var(--text-letter-spacing-body-on-step-7);
  color: var(--blog-post-color-title, var(--color-beijing));
  margin: var(--blog-post-title-spacing, var(--grid-spacing-mouse)) 0;
}

.blog-post__flytitle {
  font-size: var(--text-size-step--1);
  line-height: var(--text-line-height-body-light-on-step--1);
  font-weight: lighter;
  color: var(--blog-post-color-flytitle, var(--color-economist));
  margin: var(--blog-post-flytitle-spacing, var(--grid-spacing-sloth)) 0;
}

.blog-post__text,
.blog-post__rubric {
  font-size: var(--text-size-step-0);
  line-height: var(--text-line-height-display-on-step-0);
  font-family: var(--fontfamily-display);
}

.blog-post__rubric {
  font-style: italic;
  margin: var(--blog-post-rubric-spacing, var(--grid-spacing-camel)) 0;
}

.blog-post__text {
  margin-top: var(--blog-post-text-top-margin, var(--grid-spacing-rabbit));
  color: var(--blog-post-color-text, var(--color-beijing));
}

.blog-post__asideable-content--meta {
  margin-top: var(--blog-post-meta-spacing, var(--grid-spacing-donkey));
  margin-bottom: var(--blog-post-meta-spacing, var(--grid-spacing-donkey));
}

.blog-post__datetime {
  font-size: var(--text-size-step--2);
  line-height: var(--text-line-height-body-light-on-step--2);
  letter-spacing: var(--text-letter-spacing-body-light-on-step--2);
  font-weight: lighter;
  color: var(--blog-post-color-datetime, var(--color-moscow));
}

.blog-post__section {
  font-size: var(--text-size-step--2);
  line-height: var(--text-line-height-body-on-step--2);
  text-transform: uppercase;
  font-weight: lighter;
  color: var(--blog-post-color-section, var(--color-london));
  margin: 0;
  display: inline;
}

.blog-post__asideable-content > * + *:before {
  content: '|';
  display: inline;
  margin: 0 1em;
  color: var(--blog-post-color-meta-separator, var(--color-london));
}

